<html>
<body>

<form action="/logout"  method="post"/>
    <button type="submit">Logout</button>
</form>

<form action="/create-message"  method="post"/>
    <input type="text" placeholder="Write a message" name="message"/>
    <button type="submit">Submit</button>
</form>

<form action="/delete-message"  method="post"/>
    <input type="number" placeholder="Message #" name="selectMessage"/>
    <button type="submit">Delete</button>
</form>

<form action="/edit-message"  method="post"/>
    <input type="number" placeholder="Message #" name="message"/>
    <input type="text" placeholder="Edit message" name="message"/>
    <button type="submit">Edit</button>
</form>


<p><b>Messages by {{name}}:</b></p>
<br/>
{{#allMessages}}
{{id}}. {{text}}<br/>
{{/allMessages}}

</body>
</html>